ul{
    @include media-breakpoint-down(sm){
        border-bottom: 1px solid $gray;
    }
    li{
        a{
            color: $gray;
            @include media-breakpoint-down(sm){
                color: white;
            }
            font-weight: 700;
            transition: all .1s ease-in-out;
            &:hover{
                color: #000000;
            }
        }
    }
}

.btn-signup{
    border-radius: 25px;
}